.sets {
    display: block;
    padding-top: 10px;
}


.sets .set {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 0px;
    overflow: hidden;
    border-radius: 10px;
    /*background-color: #003566;*/
    background: linear-gradient(90deg,#001D3D 0%, #003566 100%);
}

.sets li {
    float: left;
}

.sets li div {
    display: block;
    color: #FFD60A;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
}

.sets li .card {
    padding: 100px 200px;
    margin: 20px 20px;
    background-color: #001D3D;
    border-radius: 10px;
}

.group-buttons {

}

.button-card {
    float: right;
    display: block;
    text-align: center;
    margin-top: 12px;
    margin-right: 12px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px inset #FFC300;
}

.button-card:hover {
    border: 2px inset #DC562E;
}

.button-left {
    background-image: url(../image/Left.png);
}

.button-right {
    background-image: url(../image/Right.png);
}

.button-right:active {
    border: 2px inset #4c6fc7;
}

.button-left:active {
    border: 2px inset #4c6fc7;
}

.btn {
    background: #dc562e;
    border-radius: 10px;
}


/* change line sets  */


.change-sets-line {
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.change-sets-line p {
    margin: 0px;
}

.change-sets-line li {
    border: 1px solid white;
    color: white;
    padding: 1px 6px;
    margin: 0px 2px;
    cursor: pointer;
    display: list-item;
    user-select: none;
    -webkit-transition-property: all;
    -webkit-transition-duration: .4s;
}

.change-sets-line li:hover {
    background-color: antiquewhite;
    color: black;
    padding: 2px 8px;
}

.change-sets-line li:active {
    background-color: coral;
}




